<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validate-form"
                enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label id="title" class="form-label" for="title">Title</label>
                    <input type="text" class="form-control" name="campground[title]" id="title"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" id="location" for="location">Location</label>
                    <input type="text" class="form-control" name="campground[location]" id="location"
                        value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add Images</label>
                    <input class="form-control" type="file" id="image" name="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price" id="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">£</span>
                        <input type="text" class="form-control" id="price" value="<%= campground.price %>"
                            aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description" id="description">Description</label>
                    <textarea type="text" class="form-control" name="campground[description]" id="description"
                        required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <% campground.images.forEach(function(img, i) { %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" id="image-<%= i %>"
                                value="<%= img.filename %>">
                        </div>
                        <label for="image-<%= i %>">Delete?</label>
                        <% }) %>
                </div> -->
                <h6>Delete Images</h6>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                    <% campground.images.forEach((img, i)=> { %>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="<%= img.thumbnail %>" alt="">
                                <div class="card-img-overlay text-end pt-1 pe-2">
                                    <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                    <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                        value="<%= img.filename %>" id="image-<%= i %>">
                                </div>

                            </div>
                        </div>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
        </div>
    </div>